$colors: (
	common: (white: #fff,
		black: #000,
		blue: #2785ff,
		heading: #0b3d2c,
		text: #777777,
		border: #0b3d2c,
		placeholder: #777777,
		heading2:#032E2E,
	),
	theme: ( 
		// 1: #0E6969,
		1:#005D30,
		2: #005D30,
		3: #f8f5f0,
	),
	bg: (gray: #353638,
		black: #000,
		footer: #f6f6f6,
	),
);